.calculator {
  height: 100vh;
  margin-top: 20rem;


}

.calculator.hidden {
  visibility: hidden;
  position: relative;
}

.calculator__inner {
  width: calc(100% - 150px);
  padding: 0 2rem;
  margin: 0 auto;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include for-tablet-portrait-small-desktops {
    width: 100%;
    padding: 15px;
  }
}

.calculator__container {
  width: 100%;
  text-align: center;

  h2 {
    font-size: 65px;
    line-height: 75px;
    margin-bottom: 60px;

    @include for-portrait-tablet-small-desktops {
      font-size: 54px;
      line-height: 65px;
    }

    @include for-portrait-phone {
      font-size: 28px;
      line-height: 40px;
    }

  }

  p {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 4rem;

    @include for-portrait-phone {
      font-size: 17px;
    }
  }

  .btn__calculator {
    width: 540px;
    position: relative;

    border: none;
    color: $white;
    background: $red;
    padding: 15px 20px;
    font-size: 15px;
    border-radius: 5px;

    cursor: pointer;
    transition: .2s linear;

    &:before {
      content: '';
      position: absolute;
      left: 13%;
      top: 25%;
      width: 30px;
      height: 30px;
      background: url(../img/excel.svg);
      background-repeat: no-repeat;
      background-size: cover;

      @include for-portrait-phone {
        display: none;
      }
    }

    @include for-portrait-tablet-small-desktops {
      width: 450px;
    }

    @include for-portrait-phone {
      width: 280px;
    }
  }
}
