@mixin for-small-phone {
  @media (max-width: 320px) {
    @content;
  }
}

@mixin for-portrait-phone {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin for-one-block {
  @media (max-width: 595px) {
    @content;
  }
}

@mixin for-tablet-portrait-small-desktops {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin for-portrait-tablet-small-desktops {
  @media (max-width: 991px) {
    @content;
  }
}

@mixin for-tablet-landscape-medium-desktops {
  @media (max-width: 1199px) {
    @content;
  }

  // border only top
}

@mixin for-large-desktop-laptops {
  @media (max-width: 1440px) {
    @content;
  }
}


/*

  @include for-one-block {

  }


*/

// achivement block
// @include for-tablet-landscape-medium-desktops {
//   &:nth-child(-n+3) {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     text-align: center;
//     width: 33.3333%;
//     padding: 0px 30px 0px 30px;

//     img {
//       margin-bottom: 15px;
//     }
//   }
// }
