.answers__modal__content {

  width: 100%;
  max-width: 1290px;

  text-align: left;
  padding: 30px 100px;

  h3 {
    color: $black;
    font-size: 48px;
    line-height: 55px;

    margin-bottom: 36px;

    @include for-tablet-portrait-small-desktops {
      font-size: 40px;
      line-height: 45px;
    }
  }

  p {
    font-size: 20px;
    line-height: 35px;

    @include for-tablet-portrait-small-desktops {
      font-size: 16px;
      line-height: 30px;
    }
  }

  @include for-one-block {
    padding: 30px 20px;
  }
}
