.border {
  position: fixed;
  background: rgba(30, 33, 40, 0.9);
  z-index: 9999;

  &-top {
    display: flex;
    top: 0;
    width: 100%;
    margin: 0 auto;
    height: 75px;
    justify-content: space-between;
    align-items: center;
    padding: 0 75px 0 75px;

    @include for-tablet-landscape-medium-desktops {
      height: 60px;
      padding: 0 60px 0 60px;
    }

    @include for-tablet-portrait-small-desktops {
      display: none;
    }
  }

  &-right {
    top: 75px;
    right: 0;
    width: 75px;
    height: calc(100% - 150px);

    @include for-tablet-landscape-medium-desktops {
      top: 60px;
      width: 60px;
      height: calc(100% - 120px);
    }

    @include for-tablet-portrait-small-desktops {
      display: none;
    }
  }

  &-left {
    top: 75px;
    left: 0;
    width: 75px;
    height: calc(100% - 150px);

    @include for-tablet-landscape-medium-desktops {
      top: 60px;
      width: 60px;
      height: calc(100% - 120px);
    }

    @include for-tablet-portrait-small-desktops {
      top: 0;
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    // @include for-portrait-phone {
    //   background: unset;
    //   width: auto;
    //   bottom: 15%;
    //   top: unset;
    //   right: 10%;

    //   a {
    //     display: none;
    //   }
    // }


  }

  &-bottom {
    bottom: 0;
    width: 100%;
    height: 75px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #444956;

    @include for-tablet-landscape-medium-desktops {
      height: 60px;
    }

    @include for-tablet-portrait-small-desktops {
      display: none;
    }
  }
}

.burger__contacts {
  display: none;
  background: unset;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: red;

  @include for-portrait-phone {
    display: block;
    position: fixed;
    bottom: 15%;
    right: 8%;
    animation: burger__contacts 2s infinite;
    border-radius: 50%;
  }

  .btn__contacts {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
  }
}

.burger__contacts {
  display: none;
  background: unset;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: red;

  @include for-portrait-phone {
    display: block;
    position: fixed;
    bottom: 15%;
    right: 8%;
    animation: burger__contacts 2s infinite;
    border-radius: 50%;
  }

  .btn__contacts {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
  }
}

.border__contacts {
  display: none;
  z-index: -1;

  @include for-tablet-portrait-small-desktops {
    display: block;
    margin-left: 1rem;

    a {
      padding-right: 1rem;

      &:focus {
        outline: none;
      }
    }
  }

  @include for-portrait-phone {
    position: fixed;
    bottom: 23%;
    right: 22%;
    margin: auto;

    a {
      position: absolute;
      left: 0;
      top: 0;
      transition: .2s linear;

      &:nth-child(2) {
        transform: translate(0, 0)
      }

      &:nth-child(1) {
        transform: translate(0, 0)
      }
    }

  }
}


.active__contacts {
  &:nth-child(2) {
    transform: translate(0, -170%) !important
  }

  &:nth-child(1) {
    transform: translate(0, -320%) !important
  }
}


.logo {
  color: $white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-align: center;


  p {
    font-size: 40px;
    margin-right: 10px;
  }

  span {
    background: $red;
    font-size: 30px;
    padding: 10px;
  }
}




// burger

.contacts {
  a {
    margin-right: 30px;
    color: $white;
    text-decoration: none;
    font-size: 22px;

    @include for-portrait-tablet-small-desktops {
      margin-right: 10px;
      font-size: 15px;
    }
  }
}


@keyframes burger__contacts {
  0% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }

  70% {
    box-shadow: 0 0 0 60px rgba(204, 169, 44, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes burger__contacts {
  0% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }

  70% {
    box-shadow: 0 0 0 60px rgba(204, 169, 44, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}