.form__consultation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__text {
  font-size: calc(15px + (40 - 35) * ((100vw - 800px) / (1600 - 900)));
  line-height: 30px;
  color: $white;

  margin-bottom: 50px;
}

.form__description {
  font-size: calc(15px + (38 - 35) * ((100vw - 800px) / (1600 - 900)));
  line-height: 30px;

  margin-bottom: 30px;

  button {
    color: $red;

    &:hover {
      text-decoration: none;
    }
  }
}

.form__input__container {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  align-items: center;

  @include for-tablet-portrait-small-desktops {
    flex-direction: column;
  }
}

.input__consultation {
  width: 380px;
  max-width: 100%;
  background: rgba(18, 20, 27, 0.8);
  border: 1px solid #333640;
  border-radius: 4px;

  color: $white;
  font-size: 18px;

  padding: 15px 15px;

  &:nth-child(1) {
    margin-right: 30px;
  }

  @include for-tablet-portrait-small-desktops {
    &:nth-child(1) {
      margin-right: unset;
      margin-bottom: 30px;
    }

  }

}

.textarea__consultation {
  width: 1000px;
  max-width: 100%;
  height: 160px;
  padding: 15px 15px;
  resize: none;

  color: $white;
  font-size: 18px;

  background: rgba(18, 20, 27, 0.8);
  border: 1px solid #333640;
  border-radius: 4px;

  margin-bottom: 20px;
}
