.info {
  height: 100vh;
}

.info__inner {
  @extend .services__inner;
}

.info__block {
  @extend .services__block;

  &:hover {
    .info__title {
      color: $red
    }
  }
}


.info__wrp {
  position: absolute;
  bottom: 20%;
  left: 15%;
  color: $white;
}

.info__title {
  font-size: 20px;
  line-height: 25px;

  margin-bottom: 10px;
  transition: color .2s linear;


}

.info__text {
  font-size: 16px;
  line-height: 22px;



}

.info__btn {
  font-size: 16px;
  line-height: 25px;
  color: $red;
  position: relative;
  display: inline-block;

  &:after {
    content: '';
    background: url(../../img/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 30px;
    height: 13px;
    left: 120%;
    top: 25%;
  }
}
