.info__wrp {
  position: absolute;
  bottom: 20%;
  left: 15%;
  color: $white;
}

.info__title {
  font-size: 20px;
  line-height: 25px;

  margin-bottom: 10px;
  transition: color .2s linear;
}

.info__text {
  font-size: 16px;
  line-height: 22px;
}

.info__btn {
  font-size: 16px;
  line-height: 25px;
  color: $red;
}