.consultation {
  height: 100vh;

  @include for-portrait-phone {
    height: auto;
  }
}

.consultation__img {
  height: 100%;
  background: url(../img/consultation-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.consultation__shadow {
  width: 100%;
  height: 100%;
  background: rgba(18, 20, 27, 0.8);

  p {
    color: $white;
  }

  a {
    color: $red
  }
}

.consultation__title {
  color: $white;
  font-size: calc(48px + (51 - 35) * ((100vw - 1000px) / (1600 - 900)));

  margin-bottom: 45px;
}
