.work__block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 50px;
}

.work__container {
    width: 33.33333%;
    border: 1px solid $border-color;

    display: flex;
    align-items: center;
    flex-direction: column;

    &:nth-of-type(1) {
        padding: 0 0 0 75px;
    }
    &:nth-of-type(3) {
        padding: 0 75px 0 0;
    }
}

.work__item {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 55px 0 55px 0;

    img {
        margin-bottom: 20px;
    }
}

.work__description {
    display: none;
}

.work__item.active {
    border: 1px solid $border-color;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 12px 44px;

    img {
        display: none;
    }
    p {
        display: none;
    }
    .work__description {
        display: block;
        font-size: 18px;
        line-height: 30px;
    }
}
