.intro__img-wrapper {
  width: 100%;
  height: 100vh;

  background: url(../img/intro.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.intro__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(18, 20, 27, 0.8);
}


.border {
  position: fixed;
  background: rgba(30, 33, 40, 0.9);
  z-index: 9999;

  &-top {
    top: 0;
    width: 100%;
    margin: 0 auto;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 75px 0 75px;
  }

  &-right {
    top: 75px;
    right: 0;
    width: 75px;
    height: calc(100% - 150px);
  }

  &-left {
    top: 75px;
    left: 0;
    width: 75px;
    height: calc(100% - 150px);
  }

  &-bottom {
    bottom: 0;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.logo {
  color: $white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-align: center;

  margin: 0 0 0 10%;

  p {
    font-size: 40px;
    margin-right: 10px;
  }

  span {
    background: $red;
    font-size: 30px;
    padding: 10px;
  }
}




// burger

.contacts {
  a {
    margin-right: 30px;
    color: $white;
    text-decoration: none;
    font-size: 22px;
  }
}


// intro content
.intro__wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 6rem;

  h1 {
    font-size: calc(27px + (42 - 6) * ((100vw - 700px) / (1600 - 3)));

    margin-bottom: 50px;

    span {
      display: block;
      line-height: 114px;
      font-size: calc(47px + (42 - 6) * ((100vw - 700px) / (1600 - 3)));
      text-transform: uppercase;
    }

  }

  p {
    font-size: 24px;
    line-height: 35px;

    margin-bottom: 65px;
  }
}
