.intro__img-wrapper {
  width: 100%;
  height: 100vh;

  background: url(../img/intro.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.intro__shadow {
  width: 100%;
  height: 100%;
  background: rgba(18, 20, 27, 0.8);
}


.border {
  position: fixed;
  background: rgba(30, 33, 40, 0.9);
  z-index: 9999;

  &-top {
    top: 0;
    width: 100%;
    margin: 0 auto;
    height: 75px;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 75px 0 75px;

    @include for-tablet-landscape-medium-desktops {
      height: 60px;
      padding: 0 60px 0 60px;
    }

  }

  &-right {
    top: 75px;
    right: 0;
    width: 75px;
    height: calc(100% - 150px);

    @include for-tablet-landscape-medium-desktops {
      top: 60px;
      width: 60px;
      height: calc(100% - 120px);
    }

    @include for-tablet-portrait-small-desktops {
      display: none;
    }
  }

  &-left {
    top: 75px;
    left: 0;
    width: 75px;
    height: calc(100% - 150px);

    @include for-tablet-landscape-medium-desktops {
      top: 60px;
      width: 60px;
      height: calc(100% - 120px);
    }

    @include for-tablet-portrait-small-desktops {
      top: 0;
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }


  }

  &-bottom {
    bottom: 0;
    width: 100%;
    height: 75px;
    display: none;
    justify-content: center;
    align-items: center;

    @include for-tablet-landscape-medium-desktops {
      height: 60px;
    }
  }
}

.border__contacts {
  display: none;

  @include for-tablet-portrait-small-desktops {
    display: block;
    margin-left: 1rem;

    a {
      padding-right: 1rem;

      &:focus {
        outline: none;
      }
    }
  }

}

.logo {
  color: $white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-align: center;


  p {
    font-size: 40px;
    margin-right: 10px;
  }

  span {
    background: $red;
    font-size: 30px;
    padding: 10px;
  }
}




// burger

.contacts {
  a {
    margin-right: 30px;
    color: $white;
    text-decoration: none;
    font-size: 22px;
  }
}


// intro content
.intro__wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 6rem;

  h1 {
    font-size: calc(27px + (42 - 6) * ((100vw - 700px) / (1600 - 3)));
    margin-bottom: 50px;

    span {
      display: block;
      line-height: 114px;
      font-size: calc(47px + (42 - 6) * ((100vw - 700px) / (1600 - 3)));
      text-transform: uppercase;

      @include for-tablet-portrait-small-desktops {
        line-height: 64px;
      }
    }


  }

  p {
    font-size: 24px;
    line-height: 35px;

    margin-bottom: 65px;

    @include for-tablet-landscape-medium-desktops {
      font-size: 18px;
      line-height: 30px;
    }
  }

  @include for-tablet-portrait-small-desktops {
    padding: 0 2rem;
  }
}
