.partners__border {
  width: 100%;
  height: 85%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.partners__border__item {
  width: 33.33333%;
  max-width: 100%;
  border: 1px solid $border-color;
  display: flex;
  align-items: center;
  justify-content: center;

  .partners__content__item {
    padding: 1.5rem;

    img {
      max-width: 100%;
    }
  }
}
