.achivements {
  height: 100%;
}
.achivements__inner {
  height: 100%;
}


/* моя правка */
.achivements__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.achivements__container {
  border: 1px solid $border-color;
  width: 33.33333%;
  display: flex;
  align-items: center;

  &:nth-child(1){
    padding: 50px 25px 30px 75px;
  }
  &:nth-child(2){
    padding: 50px 25px 30px 25px;
  }
  &:nth-child(3){
    padding: 50px 75px 30px 25px;
  }
}

.achivements__options {
  display: flex;
  align-items: flex-start;
  

  img {
    width: 3rem;
    height: 3rem;
    margin: 0 30px 50px 0;
  }
  @include for-portrait-tablet-small-desktops {
    flex-direction: column;
    align-items: center;

    img { margin: 0 0 25px 0;}
  }

}

.achivements__content {
  display: flex;
  flex-direction: column;
  text-align: left;

  h5 {
    font-size: 2rem;
  }

  p {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 2rem;
  }

  @include for-portrait-tablet-small-desktops {
    text-align: center;
  }
}




// stats block
.achivements__stats {
  display: flex;
  flex-wrap: wrap;
}
.achivements__block {
  width: 33.33333%;
  border: 1px solid $border-color;
  display: flex;
  padding: 50px;


}

.achivements__info {
  display: flex;
  align-items: center;
  margin: 0 auto;
  

  span {
    color: $red;
    font-size: 64px;
    line-height: 40px;

    margin-right: 30px;

    @include for-portrait-tablet-small-desktops {
      margin: 0 0 25px 0;
    }
  }
  p {
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.02em;

    @include for-portrait-tablet-small-desktops {
      text-align: center;
    }
  }

  @include for-portrait-tablet-small-desktops {
    flex-direction: column;
    align-items: center;
  }
}