.achivements {
  height: 100vh;
}


/* моя правка */

.achivements__options__container {
  display: flex;
  align-items: center;
}

.achivements__options {
  display: flex;
  align-items: center;
  width: 33.33333%;

  img {
    width: 3rem;
    height: 3rem;
    margin-bottom: 5rem;
  }
}

.achivements__options__info {
  display: flex;
  flex-direction: column;
  text-align: left;

  h5 {
    font-size: 2rem;
  }

  p {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 2rem;
  }
}

.achivements__stats {
  display: flex;
  flex-wrap: wrap;
}