.answers__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  @include for-tablet-portrait-small-desktops {
    flex-direction: column;
  }
}

.answers__col {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:nth-child(1) {
    margin-right: 40px;
  }

  @include for-tablet-portrait-small-desktops {
    &:nth-child(1) {
      margin-right: unset;
    }
  }
}

.answers__item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  cursor: pointer;

  border: 1px solid #E9ECF3;
  box-shadow: 0px 20px 20px -15px rgba(88, 91, 99, 0.1);
  border-radius: 4px;

  text-align: left;
  color: $black;
  transition: color .2s linear;
  padding: 15px 30px 15px 30px;

  margin-bottom: 20px;

  p {
    font-size: 18px;
    line-height: 23px;
  }

  &:hover {
    color: $red;
  }
}
