.main {
  overflow-x: hidden;
}

.intro__img-wrapper {
  width: 100vw;
  height: 100vh;

  background: url(../img/intro.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.intro__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(18, 20, 27);
  opacity: 0.8;
}


.border {
  position: fixed;
  background: rgba(30, 33, 40, 0.6);

  &-top {
    top: 0;
    width: 100%;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 0 100px;
  }

  &-right {
    top: 100px;
    right: 0;
    width: 100px;
    height: calc(100% - 200px);
  }

  &-left {
    top: 100px;
    left: 0;
    width: 100px;
    height: calc(100% - 200px);
  }

  &-bottom {
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.logo {
  color: $white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-align: center;

  margin: 0 0 0 10%;

  p {
    font-size: 40px;
    margin-right: 10px;
  }

  span {
    background: $red;
    font-size: 30px;
    padding: 10px;
  }
}

// burger

.contacts {
  a {
    margin-right: 30px;
    color: $white;
    text-decoration: none;
    font-size: 22px;
  }
}

.burger {
  cursor: pointer;
  background: $red;
  width: 100%;
  height: 100px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.burger__line {
  width: 40px;
  height: 3px;
  margin-top: 10px;
  background: $white;
}

// переключатель
.switcher {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #444956;
  transition: color 0.2s linear;

  &:hover {
    color: $white;
  }
}

// intro content
.intro__wrapper {
  width: 100%;
  max-width: 860px;

  margin: 230px auto;
  text-align: center;
  color: $white;


  h1 {
    font-size: 54px;

    margin-bottom: 50px;

    span {
      line-height: 114px;
      font-size: 83px;
      text-transform: uppercase;
    }
  }

  p {
    font-size: 24px;
    line-height: 35px;

    margin-bottom: 65px;
  }

  &-link {
    background: $red;
    font-size: 24px;
    line-height: 34px;
    color: $white;
    text-decoration: none;
    padding: 25px 110px;
  }
}

// navigation__points 
.scroll {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.scroll__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 10px;

  &-dot {
    width: 16px;
    height: 16px;
    background: $red;
    border-radius: 50%;

    margin-bottom: 7px;
  }
}
