.location {
  width: 100%;
  height: 100%;
}

.location__wrp {
  display: flex;

}

.location__container {
  width: 30%;
  height: 100%;

  background: $white;

  box-shadow: 0px 0px 20px rgba(11, 47, 63, 0.15);

  @include for-large-desktop-laptops {
    width: 45%;
  }

  @include for-portrait-phone {
    height: auto;
  }
}

.location__content {
  width: 100%;
  margin: 100px 0px 100px 0px;
  padding-right: 5rem;

  @include for-tablet-landscape-medium-desktops {
    margin: 30px 0 30px 0;
    padding-right: 4rem;
  }

  @include for-tablet-portrait-small-desktops {
    padding-right: 0;
  }
}

.location__title {
  text-align: center;
  font-size: 18px;
  line-height: 22px;

  margin-bottom: 20px;
}

.address__block {
  padding: 20px 0 20px 30px;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  @include for-portrait-tablet-small-desktops {
    padding: 10px 10px 10px 10px;
  }

}

.address__item {
  display: flex;
  margin-bottom: 15px;

  &:nth-child(3) {
    margin-bottom: 0;
  }
}

.adress__img {
  margin-right: 20px;

  @include for-portrait-tablet-small-desktops {
    margin-right: 6px;
  }
}

.adress__item__content {
  font-size: 16px;
  line-height: 22px;

  p {
    font-size: 15px;
    line-height: 19px;
    color: #515050;
    margin-bottom: 7px;

    @include for-portrait-tablet-small-desktops {
      line-height: 9px;
    }


  }

  a {
    color: $red;
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
    border-bottom: 1px dashed $red;

    &:hover {
      border-bottom: none;
    }
  }

  .email {
    font-size: 16px;
    line-height: 22px;
    border-bottom: none;

    letter-spacing: 0.02em;
    text-decoration-line: underline;

    @include for-portrait-tablet-small-desktops {

      font-size: 11px;
      line-height: 0;
    }
  }

  @include for-portrait-tablet-small-desktops {
    line-height: 14px;
    font-size: 12px;
  }
}

.address__text {
  padding: 1rem;
  font-size: 15px;

  line-height: 16px;

  @include for-portrait-tablet-small-desktops {
    font-size: 12px;
    line-height: 13px;
  }
}

.map__wrp {
  width: 100%;
}
