.location {
    overflow: hidden;
}
.location__img {
    width: 100vw;
    height: 100vh;
    // background: url(../../img/location-bg.png);
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;

    position: relative;
}

.location__container {
    width: 100%;
    max-width: 600px;
    height: 100%;

    background: $white;
    position: absolute;
    top: 0;
    right: 0;

    box-shadow: 0px 0px 20px rgba(11, 47, 63, 0.15);
    // transform: rotate(-90deg);
}
.location__content {
    width: 100%;
    margin: 100px 0px 100px 0px;
}
.location__title {
    text-align: center;
    font-size: 18px;
    line-height: 22px;

    margin-bottom: 20px;
}

.address__block {
    padding: 20px 0 20px 30px;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
}
.address__item {
   display: flex; 
   margin-bottom: 15px;

   &:nth-child(3) {
       margin-bottom: 0;
   }
}
.adress__img {
    margin-right: 20px;
}
.adress__item__content {
    font-size: 16px;
    line-height: 22px;

    p {
        font-size: 15px;
        line-height: 19px;
        color: #515050;
        margin-bottom: 7px;
    }
    a {
        color: $red;
        font-size: 13px;
        line-height: 16px;
        text-decoration: none;
        border-bottom: 1px dashed $red;
        
        &:hover {
            border-bottom: none;
        }
    }
    .email {
        font-size: 16px;
        line-height: 22px;
        border-bottom: none;

        letter-spacing: 0.02em;
        text-decoration-line: underline;
    }
}
.address__text {
    padding: 40px 150px 0 50px;
    font-size: 15px;
    line-height: 22px;
}