.modal {
    width: 100vw;
    height: 100vh;
    z-index: 999;

    position: absolute;

    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    opacity: 0;
    visibility: hidden;
}

.modal.show {
    opacity: 1;
    visibility: visible;
}

.modal__inner {
    padding: 75px;
    position: relative;
}
.modal__title {
    font-size: 64px;
    line-height: 75px;

    margin-bottom: 45px;
}
.modal__description {
    width: 100%;
    max-width: 790px;
    font-size: 24px;
    line-height: 30px;

    margin-bottom: 50px;
}

.close {
    position: absolute;
    top: 115px;
    right: 115px;

    svg {
        fill: $red;
        width: 32px;
        height: 32px;
    }
}