.modal {
  width: 100%;
  height: 100%;
  z-index: 999;

  position: absolute;

  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  opacity: 0;
  visibility: hidden;
}

.modal.show {
  opacity: 1;
  visibility: visible;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__inner {
  padding: 75px;
  position: relative;
}

.modal__title {
  font-size: 64px;
  line-height: 75px;

  margin-bottom: 45px;
}

.modal__description {
  width: 100%;
  font-size: 24px;
  line-height: 30px;

  margin-bottom: 50px;

  span {
    display: block;
  }
}

.close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 115px;

  svg {
    fill: $red;
    width: 32px;
    height: 32px;
  }
}
