// navigation__points 
.scroll {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  .scroll__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  
    margin-bottom: 10px;
  
    &-dot {
      width: 16px;
      height: 16px;
      background: $darkblue;
      border-radius: 50%;
  
      margin-bottom: 7px;
    }
}
.scroll__item-dot.active {
    background: $red;
}
