.section {
  // height: 100vh;
  position: relative;

  &--answers.hidden {
    visibility: hidden;
  }

}

.section__inner {
  height: 100%;
  padding: 100px 120px 135px 120px;

  text-align: center;

  &--work {
    padding: 100px 0;
    height: auto;
  }

  &--partners {
    padding: 120px 0 0 0;
  }

  &--answers {
    margin: 5rem 0;
    padding: 0 75px;

    @include for-portrait-phone {
      padding: 0 30px
    }
  }

  &--consultation {
    @include for-tablet-portrait-small-desktops {
      padding: 50px 50px;
      // margin: 50px 0;
    }
  }

}

.section__title {
  h2 {
    font-size: calc(28px + (22 - 2) * ((100vw - 100px) / (1600 - 3)));
    line-height: 75px;

    margin-bottom: 5px;
  }
}

.section__text {
  padding: 0 6rem;

  p {
    font-size: calc(12px + (46 - 29) * ((100vw - 100px) / (1600 - 3)));
    line-height: 30px;

    margin-bottom: 15px;


  }

  @include for-tablet-portrait-small-desktops {
    padding: 0 2rem;
  }
}
