@import "./variables.scss";
@import "./reset.scss";
@import "./intro.scss";
@import "./btn.scss";
@import "./burger.scss";
@import "./scroll.scss";
@import "./theme-switcher.scss";
@import "./section.scss";
@import "./answers.scss";
@import "./location.scss";

@import "./services/services.scss";
@import "./achivements/achivements.scss";
@import "./calculator/calculator.scss";
@import "./info/info.scss";
@import "./work/work.scss";
@import "./partners/partners.scss";
@import "./consultation/consultation.scss";

// form
@import "./form/form-consultation.scss";


