// fonts

@font-face {
  // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
  font-family: "UniNeueLight";
  // адрес шрифта и тип 
  src: url("../fonts/UniNeueLight.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@import "./variables.scss";
@import "./reset.scss";
@import "./intro/intro.scss";
@import "./helpers/btn.scss";
@import "./intro/burger/burger.scss";
@import "./intro/burger/menu.scss";
@import "./scroll.scss";
@import "./theme-switcher.scss";
@import "./section.scss";
@import "./answers.scss";
@import "./answers-modal.scss";
@import "./location.scss";

@import "./modal.scss";

@import "./services/services.scss";
@import "./achivements/achivements.scss";
@import "./calculator/calculator.scss";
@import "./calculator/calculator-modal.scss";
@import "./info/info.scss";
@import "./work/work.scss";
@import "./partners/partners.scss";
@import "./consultation/consultation.scss";

// form
@import "./form/form-consultation.scss";
@import "./form/form-calculator.scss";
