// переключатель темы
.switcher {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #444956;
  transition: color 0.2s linear;

  .switcher__icon {
    width: 32px;
    height: 42px;
    fill: #444956;

    transition: fill 0.2s linear;
  }

  &:hover {
    color: $white;

    .switcher__icon {
      fill: $white;
    }
  }
}
